*background: #020202
*color0: #282a2b
*color1: #ac357e
*color2: #65ac35
*color3: #a8ac35
*color4: #273a87
*color5: #666699
*color6: #8caff0
*color7: #a8a8a8
*color8: #2c2f30
*color9: #df45a4
*color10: #83df45
*color11: #dadf45
*color12: #3955c4
*color13: #8888cc
*color14: #9bbaf1
*color15: #f0f0f0
*foreground: #999999
URxvt*boldFont: -*-dina-medium-r-bold-*-13-*-*-*-*-*-*-*,-gnu-unifont-medium-r-normal-*-16-*-*-*-*-*-*-*
URxvt*font: -*-dina-medium-r-normal-*-13-*-*-*-*-*-*-*,-gnu-unifont-medium-r-normal-*-16-*-*-*-*-*-*-*
URxvt*secondaryWheel: true
URxvt.colorMode: on
URxvt.cursorBlink: true
URxvt.cursorColor2: black
URxvt.cursorColor: grey
URxvt.depth: 32
URxvt.externalBorder: 0
URxvt.geometry: 80x25
URxvt.highlightColor: #d8dbe6
URxvt.highlightTextColor: #000000
URxvt.hold: false
URxvt.internalBorder: 5
URxvt.iso14755: false
URxvt.keysym.C-S-C: perl:clipboard:copy
URxvt.keysym.C-S-V: perl:clipboard:paste
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.matcher.button: 1
URxvt.mouseWheelScrollPage: false
URxvt.perl-ext-common: clipboard,keyboard-select,matcher,readline,searchable-scrollback,selection
URxvt.saveLines: 14000
URxvt.scrollBar: false
URxvt.scrollTtyKeypress: true
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.termName: rxvt-unicode-256color
URxvt.transparent: false
URxvt.underlineURLs: true
URxvt.urgentOnBell: true
URxvt.url-launcher: /usr/bin/firefox
